html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

#header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(200,200,200,0.9);
	z-index: 3;
	transition: opacity 500ms;
}

#header.landing {
	opacity: 0.5;
}

#menu {
	position: relative;
	margin: 0 auto;
	height: 100%;
	padding: 0;
	text-align: center;
}

#menu.landing {
	pointer-events: none;
	opacity: 0.5;
}

#menu .tab {
	-webkit-box-sizing: content-box;
		 -moz-box-sizing: content-box;
					box-sizing: content-box;
	display: inline-block;
	padding: 10px 80px;
	font-size: 16pt;
	height: 30px;
	padding-bottom: 6px;
	border-bottom: 4px solid rgb(160,160,160);
	transition: all 250ms;
	max-width: 200px;
	min-width: 100px;
}

#menu .tab:hover, #menu .tab.selected {
	background-color: rgba(190,190,190,0.95);
}

#menu .tab:active {
	background-color: rgb(180,180,180);
}

#places-tab:hover, #places-tab.selected {
	border-bottom: 4px solid rgba( 61, 232, 50, 0.7 );
}

#languages-tab:hover, #languages-tab.selected {
	border-bottom: 4px solid rgba( 0, 178, 255, 0.7 );
}

#about-tab:hover, #about-tab.selected {
	border-bottom: 4px solid rgba( 195, 98, 235, 0.7 );
}

.content {
	position: absolute;
	height: 100%;
	width: 100%;
	margin-bottom: -50px;
}

#sidebar {
	overflow: scroll;
	width: 300px;
	padding: 1em;
	margin-top: 50px;
	padding-bottom: 50px;
	background-color: rgba( 255, 255, 255, 0.95 );
	opacity: 0.8;
	z-index: 2;
	transition: all 750ms;
}

#sidebar.landing {
	left: -300px;
}

#sidebar:hover {
	opacity: 1;
}

.sidebar-page {
	display: none;
	text-align: center;
}

.sidebar-page.selected {
	display: block;
}

#places-title {
	font-size: 22pt;
	margin: 15px 0 25px 0;
}

#places-page h2 {
	font-weight: 400;
	font-size: 14pt;
	margin: 5px 0;
}

#languages {
	margin: 10px 0px;
}

#languages table {
	margin: 0 auto;
}

h1 {
	margin: 0;
}

.lang-stat > td {
	margin: 3px auto;
	font-size: 14pt;
}

.lang-name {
	text-align: right;
}

img.dot {
	padding: 0 6px;
}

.percent-column {
	text-align: left;
}

.controls {
	border: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
}

#pac-input {
	background-color: #fff;
	display: block;
	position: relative;
	top: -40px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-right: 12px;
	padding: 5px;
	text-overflow: ellipsis;
	width: 200px;
	float: right;
	border-radius: 5px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
	border-radius: 0 0 5px 5px;
}

#pac-input.landing, .pac-container.landing {
	display: none;
}

#map-canvas.landing {
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#circle-canvas {
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	pointer-events:none;
}

#sentiment-canvas {
	border-radius: 5px;
	border: 1px solid black;
}

img {
	vertical-align: middle;
}

#landing-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

/*#landing-wrapper.loading {
	background-color: white;
}*/

#landing-box {
	width: 500px;
	height: 50px;
	background-color: rgba(200,200,200,0.35);
	font-size: 20pt;
	text-align: center;
	color: rgba(0,0,0,0.8);
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	z-index: 4;
	border-radius: 12px;
	outline: none;
	border: 1px solid white;
	box-shadow: 0px 0px 0px 4px rgba(200,200,200,0.35);
	transition: all 750ms;
}

#landing-box:focus {
	/*border-color: rgb( 0, 178, 255);*/
	background-color: rgba(200,200,200,0.5);
	box-shadow: 0px 0px 0px 0px rgba(200,200,200,0.4);
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   black;
		opacity: 0.75;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  0.75;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  0.75;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    black;
   opacity:  0.75;
}

#about-page p {
	text-align: justify;
	font-weight: 300;
}

#about-page p.q {
	font-weight: 700;
}

.gm-rev {
	display: none;
}
