<!DOCTYPE html>
<html>
	<head>
		<title>OxTw</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
		<script src="static/js/jquery-2.1.3.min.js"></script>
		<script src="static/js/knockout-3.3.0.min.js"></script>
		<script src="static/js/socket.io-1.3.4.js"></script>
		<script src="static/js/boostrap.min.js"></script>
		<script>
			$(document).ready(function() {

			});
		</script>
	</head>
	<body>
	</body>
</html>