<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Map Test</title>
		<!--<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		(todo: get an icon)-->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/css/jqcloud.css" />
		<!--link rel="stylesheet" href="static/css/gmaps-sidebar.css" /-->
		<link rel="stylesheet" type="text/css" href="static/css/style.css"></style>
		<!--<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ1QG7SEdSi66Tr0IE5ehHUpnoAbEQcnE">
		</script>-->
	</head>

	<body>
		<div id="header">
			<ul id="menu">
				<li id="places-tab" class="tab">Places</li>
				<li id="languages-tab" class="selected tab">Languages</li>
				<li id="about-tab" class="tab">About</li>
			</ul>
			<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		</div>
		<div id="map-canvas" class="content"></div>

		<div id="sidebar" class="content">
			<div id="places-page" class="sidebar-page">
				<h1 id="places-title"></h1>
				<div id="places-content">Click on a place to find tweets and sentiment about it</div>
				<div id="places-bar"><canvas id="sentiment-canvas" width="180px" height="20px"></canvas></div>
				<div id="places-account"></div>
			</div>
			<div id="languages-page" class="selected sidebar-page">
				<h1>Languages</h1>
				<div id="languages">Loading...</div>
				<h1>Word Cloud</h1>
				<div id="wordcloud">Loading...</div>
			</div>
			<div id="about-page" class="sidebar-page">
				About page.
			</div>
		</div>
		<canvas id="circle-canvas" width="360px" height="360px"></canvas>

		<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
		<script type="text/javascript" src="static/js/jquery-2.1.3.min.js"></script>
		<!--script type="text/javascript" src="static/js/jquery-sidebar.js"></script-->
		<script type="text/javascript" src="static/js/circle.js"></script>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script type="text/javascript" src="static/js/map.js"></script>
		<script type="text/javascript" src="static/js/jqcloud-1.0.4.min.js"></script>
		<script type="text/javascript">
			$( document ).ready( function() {
				// Draws placeholder segments while loading from db
				drawLangaugeSegments( [] );

				$( ".tab" ).on( "click", function(e) {
					var oldTab = $( ".tab.selected" ),
							newTab = $( this );
					var oldPage = $( "#" + oldTab.attr( "id" ).split( "-" )[0] + "-page" ),
							newPage = $( "#" + newTab.attr( "id" ).split( "-" )[0] + "-page" );

					oldTab.removeClass( "selected" );
					oldPage.removeClass( "selected" );

					newTab.addClass( "selected" );
					newPage.addClass( "selected" );
				} );

				$( "#sidebar, #header" ).on( "mouseover", function(e) {
					$( "#circle-canvas" ).hide();
				} );
				$( "#sidebar, #header" ).on( "mouseleave", function(e) {
					$( "#circle-canvas" ).show();
				} );

				$.fn.sentimentBar = function() {
					var $bar = this;
					var canvas = document.getElementById( "sentiment-canvas" );
					var ctx = canvas.getContext( "2d" );
					var w = canvas.width;
					var h = canvas.height;
					ctx.font = "12pt \"Oxygen\", sans-serif";
					ctx.textAlign = "center";
					ctx.textBaseline = "middle";

					var grd = ctx.createLinearGradient( 0, 0, w, h );
					grd.addColorStop( 0, "red" );
					grd.addColorStop( 0.175, "orange" );
					grd.addColorStop( 0.35, "yellow" );
					grd.addColorStop( 0.7, "lightgreen" );
					grd.addColorStop( 1, "green" );

					$bar.setValue = function( value ) {
						ctx.clearRect( 0, 0, w, h );
						ctx.beginPath();
						ctx.rect( 0, 0, w, h );
						ctx.fillStyle = grd;
						ctx.fill();

						ctx.beginPath();
						ctx.rect(w * value / 10.0, 0, w, h);
						ctx.fillStyle = "white";
						ctx.fill();
						ctx.fillStyle = "black";
						ctx.fillText(Math.round(value * 100) / 100 + " / 10", w/2, h/2);
					}

					return $bar;
				}

				var bar = $( "sentiment-canvas" ).sentimentBar();
				bar.setValue(10);

			} );
		</script>
	</body>
</html>
