<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Map Test</title>
		<!--<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		(todo: get an icon)-->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/css/jqcloud.css" />
		<!--link rel="stylesheet" href="static/css/gmaps-sidebar.css" /-->
		<link rel="stylesheet" type="text/css" href="static/css/style.css"></style>
		<!--<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ1QG7SEdSi66Tr0IE5ehHUpnoAbEQcnE">
		</script>-->
	</head>

	<body>
		<div id="header" class="landing">
			<ul id="menu" class="landing">
				<li id="places-tab" class="tab">Places</li>
				<li id="languages-tab" class="tab">Languages</li>
				<li id="about-tab" class="tab">About + FAQ</li>
			</ul>
			<input id="pac-input" class="controls landing" type="text" placeholder="Search">
		</div>
		<div id="map-canvas" class="content landing"></div>

		<div id="sidebar" class="content landing">
			<div id="places-page" class="sidebar-page">
				<h1 id="places-title"></h1>
				<div id="places-content">
					<h2>Click on a place to find tweets and sentiment about it</h2>
					<p>For more help click the About + FAQ tab above</p>
				</div>
				<div id="places-bar"><canvas id="sentiment-canvas" width="250px" height="20px"></canvas></div>
				<div id="places-account"></div>
			</div>
			<div id="languages-page" class="sidebar-page">
				<h1>Languages</h1>
				<div id="languages">Loading...</div>
				<h1>Word Cloud</h1>
				<div id="wordcloud">Loading...</div>
			</div>
			<div id="about-page" class="sidebar-page">
				<h1>About</h1>
				<p>This website provides a simple guide for travelers.</p>
				<p>By combining the vast amounts of user generated data on Twitter with Google Maps, this site provides a tool which is both current and comes straight from people all around the world.</p>
				<h1>FAQ</h1>
				<p class="q">Q: What is that circle around my mouse?</p>
				<p>The edge of a circle is a pie chart representing the spread of languages used in the area inside it. There is a key in the sidebar.</p>
				<p class="q">Q: Why is the circle sometimes just black?</p>
				<p>This means we haven't got any data for the area inside the circle. Try somewhere busier (e.g. Paris or London).</p>
				<p class="q">Q: Where does the language and word cloud data come from?</p>
				<p>We store and update a database of tweets which we process and display on this site.</p>
				<p class="q">Q: In Places mode I am clicking on a place but nothing happens...</p>
				<p>Some places like city names and train stations aren't included. Try somewhere else like a museum or a restaurant. Make sure an info window appears like this:</p>
				<img src="static/img/places-example.png" alt="Places Example Usage">
				<p class="q">Q: What exactly does the "Twitter User's Opinion" represent?</p>
				<p>We use a sentiment analysis system on recent tweets mentioning that place. This uses machine learning to give a rough score out of ten to how positive or negative those tweets were.
					 This score will change when more people tweet about it and it is only a guide - sometimes it's hard to tell whats positive and what's negative...</p>
			</div>
		</div>
		<canvas id="circle-canvas" width="360px" height="360px"></canvas>
		<div id="landing-wrapper">
			<input id="landing-box" type="text" placeholder="Where do you want to go?">
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
		<script type="text/javascript" src="static/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="static/js/circle.js"></script>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script type="text/javascript" src="static/js/map.js"></script>
		<script type="text/javascript" src="static/js/jqcloud-1.0.4.min.js"></script>

		<script type="text/javascript">
			$( document ).ready( function() {
				// Draws placeholder segments while loading from db
				$("#circle-canvas").hide();
				drawLangaugeSegments( [] );
				var currentTabId = $( ".tab.selected" ).attr("id");

				$( ".tab" ).on( "click", function(e) {
					var oldTab = $( ".tab.selected" ),
							newTab = $( this );
					var oldPage = $( "#" + oldTab.attr( "id" ).split( "-" )[0] + "-page" ),
							newPage = $( "#" + newTab.attr( "id" ).split( "-" )[0] + "-page" );

					oldTab.removeClass( "selected" );
					oldPage.removeClass( "selected" );

					newTab.addClass( "selected" );
					newPage.addClass( "selected" );

					currentTabId = newTab.attr( "id" );
					//console.log( currentTabId === "languages-tab" );
					currentTabId === "languages-tab" ? $("#circle-canvas").show() : $("#circle-canvas").hide();
					//$( "#circle-canvas" ).hide();
				} );

				$( "#sidebar, #header" ).on( "mouseover", function(e) {
					if (currentTabId === "languages-tab") $( "#circle-canvas" ).hide();
				} );
				$( "#sidebar, #header" ).on( "mouseleave", function(e) {
					if (currentTabId === "languages-tab") $( "#circle-canvas" ).show();
				} );

				$.fn.sentimentBar = function() {
					var $bar = this;
					var canvas = document.getElementById( "sentiment-canvas" );
					var ctx = canvas.getContext( "2d" );
					var w = canvas.width;
					var h = canvas.height;
					ctx.font = "12pt \"Oxygen\", sans-serif";
					ctx.textAlign = "center";
					ctx.textBaseline = "middle";

					var grd = ctx.createLinearGradient( 0, 0, w, h );
					grd.addColorStop( 0, "red" );
					grd.addColorStop( 0.175, "orange" );
					grd.addColorStop( 0.35, "yellow" );
					grd.addColorStop( 0.7, "lightgreen" );
					grd.addColorStop( 1, "green" );

					$bar.setValue = function( value ) {
						ctx.clearRect( 0, 0, w, h );
						ctx.beginPath();
						ctx.rect( 0, 0, w, h );
						ctx.fillStyle = grd;
						ctx.fill();

						ctx.beginPath();
						ctx.rect(w * value / 10.0, 0, w, h);
						ctx.fillStyle = "white";
						ctx.fill();
						ctx.fillStyle = "black";
						ctx.fillText(Math.round(value * 100) / 100 + " / 10", w/2, h/2);
					}

					return $bar;
				}

				// var bar = $( "sentiment-canvas" ).sentimentBar();
				$("#places-bar").hide();
				$("#landing-box").on("click", function(e) {
					$(".pac-container").addClass("landing");
				});

				var removeLanding = function() {
					$("pac-input").show();
					$("#pac-input").val($("#landing-box").val());
					$(".pac-container, #menu, #header, #pac-input, #sidebar, #map-canvas").removeClass("landing");
					$("#landing-wrapper").css("display", "none");
					$("#sidebar").css("left", "0px");
					$("#languages-tab, #languages-page").addClass("selected");
					$("#circle-canvas").show();
				};

				$("#landing-box").keyup(function(e) {
					if (e.keyCode == 13) removeLanding();
				});

				$("#landing-wrapper").on("click", function(e) {
					if (!$(e.target).is("#landing-box")) removeLanding();
				});

			} );
		</script>
	</body>
</html>
